# Docker build lifecycle
.dockerignore
.env
.git/
.gitignore
.vs/
.vscode/
*/*/*/obj/
*/*/*/bin/
**/bin/
**/obj/
**/.project
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/docker-compose*
**/Dockerfile*
**/charts
**/azds.yaml
**/README.md
**/LICENSE
**/*.md
.github
tests/