# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="Enterprise Mediator Platform"

# API Gateway
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# Auth
NEXT_PUBLIC_AUTH_COOKIE_NAME=emp_session

# Stripe (client-side publishable key for payment form)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_key_here

# Feature Flags
NEXT_PUBLIC_ENABLE_ANALYTICS=false